[Unit]

Description=Argus Service



[Service]

Type=simple

WorkingDirectory=/var/www/html
ExecStart=/usr/bin/python3 /var/www/html/key.py



[Install]

WantedBy=multi-user.target
